Loading data into Pandas

In [3]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

# print(df.head(5))

# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# print(df_xlsx.head(3))

# df = pd.read_csv('pokemon_data.txt', delimiter='\t')

# print(df.head(5))

df['HP']

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

Reading Data in Pandas

In [4]:
#### Read Headers
df.columns

## Read each Column
#print(df[['Name', 'Type 1', 'HP']])

## Read Each Row
#print(df.iloc[0:4])
# for index, row in df.iterrows():
#     print(index, row['Name'])
#df.loc[df['Type 1'] == "Grass"]

## Read a specific location (R,C)
#print(df.iloc[2,1])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Sorting/Describing Data

In [5]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Making changes to the data

In [8]:

#df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,864,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,1095,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,1415,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1715,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,797,39,52,43,60,50,65,1

Saving our Data (Exporting into Desired Format)

In [9]:
# df.to_csv('modified.csv', index=False)

# df.to_excel('modified.xlsx', index=False)

df.to_csv('modified.txt', index=False, sep='\t')

Filtering Data

In [13]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

new_df

new_df.to_csv('filtered.csv')

Conditional Changes

In [16]:
# df.loc[df['Total'] > 500, ['Generation','Legendary']] = ['Test 1', 'Test 2']

# df

df = pd.read_csv('modified.csv')

df

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,864,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,1095,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,1415,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1715,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,797,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,1700,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,True,1880,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,1660,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,1880,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,1660,80,110,120,130,90,70,6

Aggregate Statistics (Groupby)

In [19]:
df = pd.read_csv('modified.csv')

df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

Working with large amounts of data

In [6]:
import pandas as pd

# Read just the header (first row) to get the column names
df_columns = pd.read_csv('modified.csv', nrows=0).columns

new_df = pd.DataFrame(columns=df_columns)

for df_chunk in pd.read_csv('modified.csv', chunksize=5):
    results = df_chunk.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])

print(new_df)

         # Name Type 1 Type 2 Legendary Total HP Attack Defense Sp. Atk  \
Fire     1    1    NaN      0         1     1  1      1       1       1
Grass    4    4    NaN      4         4     4  4      4       4       4
Fire     4    4    NaN      3         4     4  4      4       4       4
Water    1    1    NaN      0         1     1  1      1       1       1
Bug      2    2    NaN      0         2     2  2      2       2       2
...     ..  ...    ...    ...       ...   ... ..    ...     ...     ...
Fairy    1    1    NaN      0         1     1  1      1       1       1
Flying   2    2    NaN      2         2     2  2      2       2       2
Fire     1    1    NaN      1         1     1  1      1       1       1
Psychic  2    2    NaN      2         2     2  2      2       2       2
Rock     2    2    NaN      2         2     2  2      2       2       2

        Sp. Def Speed Generation
Fire          1     1          1
Grass         4     4          4
Fire          4     4          4
Water         1     1          1
Bug           2     2          2
...         ...   ...        ...
Fairy         1     1          1
Flying        2     2          2
Fire          1     1          1
Psychic       2     2          2
Rock          2     2          2

[433 rows x 13 columns]